
<div class="col-md-3">
    <h6>Project Links</h6>
    <ul>
        <li><a href="https://projects.eclipse.org/projects/modeling.ecoretools" target="_blank">About this project</a></li>
        <li><a href="https://wiki.eclipse.org/Ecore_Tools" target="_blank">Wiki</a></li>
        <li><a href="https://www.eclipse.org/forums/index.php/f/165/" target="_blank">Forum</a></li>
        <li><a href="https://bugs.eclipse.org/bugs/buglist.cgi?list_id=9284751&list_id=7819370&product=EcoreTools&resolution=---" target="_blank">Bugs</a></li>
        <li><a href="https://git.eclipse.org/c/ecoretools/org.eclipse.ecoretools.git/" target="_blank">Source Code</a></li>
    </ul>
</div> 