
<div class="col-md-3">
    <h6>Project Links</h6>
    <ul>
        <li><a href="https://projects.eclipse.org/projects/modeling.emfcompare" target="_blank">About this project</a></li>
        <li><a href="http://wiki.eclipse.org/EMF_Compare" target="_blank">Wiki</a></li>
        <li><a href="https://www.eclipse.org/forums/index.php/f/164/" target="_blank">Forum</a></li>
        <li><a href="https://bugs.eclipse.org/bugs/buglist.cgi?bug_status=UNCONFIRMED&bug_status=NEW&bug_status=ASSIGNED&bug_status=REOPENED&classification=Modeling&product=EMFCompare&query_format=advanced" target="_blank">Bugs</a></li>
        <li><a href="https://git.eclipse.org/c/emfcompare/org.eclipse.emf.compare.git" target="_blank">Source Code</a></li>
    </ul>
</div>