<!-- Navigation -->
<header id="top-bar" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{ site.emfcompare_baseurl }}">
            <img src="{{  site.emfcompare_baseurl }}/common_assets/images/logos/logo_emfcompare.png" alt="Logo EMF Compare">
        </a>
        <!-- /logo -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <nav class="collapse navbar-collapse" id="navbarResponsive">
            <div class="main-menu ml-auto">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{  site.emfcompare_baseurl }}/overview.html">Overview</a>
                    </li>
                    <li>
                        <a href="{{  site.emfcompare_baseurl }}/features.html">Features</a>
                    </li>
                    <li>
                        <a href="{{  site.emfcompare_baseurl }}/resources.html">Resources</a>
                    </li>
                    <li>
                        <a href="{{  site.emfcompare_baseurl }}/support.html">Support</a>
                    </li>
                    <li id="dwnld">
                        <a href="{{  site.emfcompare_baseurl }}/download.html">Download</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
