<!-- Navigation -->
<header id="top-bar" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <a class="navbar-brand" href="{{" / " | relative_url }}">
            <img src="/common_assets/images/logos/logo_acceleo.png" alt="Logo Acceleo">
        </a>

        <!-- /logo -->
        <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
            aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
            <i class="fa fa-bars"></i>
        </button>
        <nav class="collapse navbar-collapse" id="navbarResponsive">
            <div class="main-menu ml-auto">
                <ul class="nav navbar-nav">
                    <li>
                        <a href="{{"/overview" | relative_url }}">Overview</a>
                    </li>
                    <li>
                        <a href="{{"/features" | relative_url }}">Features</a>
                    </li>
                    <li>
                        <a href="{{"/posts" | relative_url }}">Resources</a>
                    </li>
                    <li>
                        <a href="{{"/support" | relative_url }}">Support</a>
                    </li>
                    <li id="dwnld">
                        <a href="{{"/download" | relative_url }}">Download</a>
                    </li>
                </ul>
            </div>
        </nav>
    </div>
</header>
