---
layout: sirius_default
title: Sirius | Download
---

<section>
    <div class="container">
        <ul class="nav nav-pills justify-content-center">
            <li class="nav-item">
            <a class="nav-link active" href="#ready_use_package" data-toggle="pill" aria-controls="pills-profile" aria-selected="true">Ready-to-Use Package</a>
            </li>
            <li class="nav-item">
            <a class="nav-link" href="#drag_to_install" data-toggle="pill" aria-controls="pills-profile" aria-selected="false">Drag to Install</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#marketplace" data-toggle="pill" aria-controls="pills-profile" aria-selected="false">Marketplace</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="#update_site" data-toggle="pill" aria-controls="pills-profile" aria-selected="false">Update Site</a>
            </li>
        </ul>

        <div class="tab-content text-center" id="pills-tabContent">  
            <div class="tab-pane fade show active" id="ready_use_package">
                <div class="row">
                    {% include block_cols.html
                        col="6 offset-md-3"
                        icon_name="fas fa-download"
                        icon_color="txt_indigo"
                        title="Download a Ready-to-Use Package" 
                        desc="This free package has been created by Sirius commiters to facilitate your first steps with Sirius. It contains Sirius, neatly integrated with other Open Source technologies (EMF Compare, eGit and SWTBot)."
                        href="http://www.obeodesigner.com/download"
                        href_class="btn btn-default"
                        link_txt="Download Obeo Designer Community"
                    %}
                </div>
                <div class="row">
                    {% include block_cols.html
                        col="6"
                        icon_name="fas fa-users"
                        icon_color="txt_indigo"
                        title="Need collaborative features?" 
                        desc="Obeo Designer Team edition facilitates the collaboration with your other team members. Models and representations (diagrams, tables, trees) created with Sirius are stored in a shared repository."
                        href="https://www.obeodesigner.com/en/collaborative-features"
                        link_txt="Learn more"
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
                    {% include block_cols.html
                        col="6"
                        icon_name="fab fa-html5"
                        icon_color="txt_indigo"
                        title="Need to run in a Web Browser?" 
                        desc="Discover Sirius Web, the open-source sub-project to easily create and deploy studios to the web. All the principles you like in Sirius Desktop, available on a modern cloud-based stack."
                        href="sirius-web.html"
                        link_txt="Learn more"
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
                </div>
            </div>

            <div class="tab-pane fade" id="drag_to_install">
                <div class="row">
                    {% include block_cols.html
                        col="6 offset-md-3"
                        icon_name="fas fa-mouse-pointer"
                        icon_color="txt_indigo"
                        title="Install Sirius with the Drag'n Drop Install" 
                        desc="<b>Requirement:</b> Please make sure that Marketplace is already installed in your Eclipse, otherwise these installation instructions won't work as expected."
                        href="http://marketplace.eclipse.org/marketplace-client-intro?mpc_install=1318261"
                        href_class="btn btn-default"
                        link_txt="Drag to Install"
                    %}
                </div>
                <div class="row">
                    {% include block_cols.html
                        col="6"
                        icon_name="fas fa-users"
                        icon_color="txt_indigo"
                        title="Need collaborative features?" 
                        desc="Obeo Designer Team edition facilitates the collaboration with your other team members. Models and representations (diagrams, tables, trees) created with Sirius are stored in a shared repository."
                        href="https://www.obeodesigner.com/en/collaborative-features"
                        target="_blank"
                        link_txt="Learn more"
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
                    {% include block_cols.html
                        col="6"
                        icon_name="fab fa-html5"
                        icon_color="txt_indigo"
                        title="Need to run in a Web Browser?" 
                        desc="Discover Sirius Web, the open-source sub-project to easily create and deploy studios to the web. All the principles you like in Sirius Desktop, available on a modern cloud-based stack."
                        href="https://www.eclipse.org/sirius/sirius-web.html"
                        link_txt="Learn more"
                        href_icon="fas fa-arrow-alt-circle-right"
                    %}
                </div>
            </div>
            <div class="tab-pane fade" id="marketplace">
                <div class="row">
                    <div class="col-md-6 offset-md-3 col-xs-12 wow fadeInLeft animated">
                        <div>
                            <i class="fas fa-store fa-3x pa2 txt_indigo" aria-hidden="true"></i>
                        </div>                                
                        <div>
                            <h4>Install Sirius with Eclipse Marketplace</h4>
                            <p>Browse the Marketplace, choose Sirius and just click on the install button.</p>
                            <p><img src="images/download/install_marketplace_module.png" alt="Obeo Marketplace"></p>
                            <p><b>Requirement:</b> Please make sure that Marketplace is already installed in your Eclipse, otherwise these installation instructions won't work as expected. For more details, please refer to <a href="http://marketplace.eclipse.org/marketplace-client-intro" target="_blank">Introducing the Eclipse Marketplace Client</a> installation guide.</p>
                        </div>
                    </div>
                </div>
            </div>

            <div class="tab-pane fade" id="update_site">
                <div class="row">
                    <div class="col-md-12 col-xs-12 wow fadeInLeft" data-wow-duration="500ms" data-wow-delay="300ms">
                        <div>
                            <p><i class="fas fa-redo fa-3x pa2  txt_indigo" aria-hidden="true"></i></p>
                        </div>                                
                        <div>
                            <h4>Install Sirius from Update Site</h4>
                            <br>
                            <h5>Latest Release</h5>
							<p>Add this URL to your Eclipse Installation to reach Sirius Update Site.</p>
							<p><input type="text" value="http://download.eclipse.org/sirius/updates/releases/6.3.4/2020-06"></p>
							<p>You can also download the corresponding <a href="http://download.eclipse.org/sirius/updates/releases/6.3.4/org.eclipse.sirius-6.3.4-2020-06.zip">zipped archive</a> for offline installation.</p>
							<br>
							<h5>Latest Nightly</h5>
							<p>Add this URL to your Eclipse Installation to reach Sirius Update Site.</p>
                            <p><input type="text" value="http://download.eclipse.org/sirius/updates/nightly/latest/2020-06"></p>
							<br>
							<br>
                        </div>
                    </div>
                </div>
            </div>    
          
        </div>
        </div>
    </div>
</section>

<section class="bg_lightest_grey text-center">
    {% include block_heading.html
        title="Need help to deploy Sirius?"                
        sub_title=""
        desc=""
    %}

    <div class="row">
        {% include block_cols.html
            col="6 offset-md-3"
            icon_name="fas fa-life-ring"
            icon_color="txt_indigo"
            title="Training / Custom Development / Support" 
            desc="Obeo, co-leader of Sirius, provides professional services from the set-up to the deployment of your industrial-strength modeling workbenches created with Sirius."
            href="https://www.obeodesigner.com/en/services"
            target="_blank"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}
    </div>
</section>