---
layout: sirius_default
title: Sirius | Get Started
---

<section>
    <div class="container">
       
        {% include block_text_video.html
            txt_order="order-1"
            title="Introduction"                
            desc="
            <p>Watch this video to discover how to simply create a graphical modeling tool with Sirius Desktop.</p>
            <p>With this video, you will see how to:</p>
            <ul>
                <li>create a Sirius project (Viewpoint Specification project)</li>
                <li>initialize a Diagram to graphically vizualize and edit the model elements</li>
                <li>define Nodes and Edges to display model elements on the diagram</li>
                <li>add a Creation Tool to create new model elements from a palette</li>
            </ul>
            "
            lnk_txt="More articles and videos "
            lnk_href="resource-center.html"
            lnk_target="self"
            lnk_icon="fas fa-arrow-alt-circle-right"

            iframe_order="order-2"
            iframe_src="https://www.youtube.com/embed/08XIW8hZOyQ"
            iframe_width="530"
            iframe_height="350"
        %}
    </div>
</section>

<section class="text-center bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            title="Tutorials"                
            sub_title=""
            desc="<p>Follow a step-by-step scenario to create your first modeling tool with Sirius Desktop.</p>"
        %}
    </div>       
</section>

<section>
    <div class="container">
       
        {% include block_text_image.html
            txt_order="order-1"
            title="BasicFamily Tutorial"                
            desc="
            <p>This tutorial explains how to use Eclipse Sirius to create graphical editors for visually describing a family.</p>
            <p>It is composed of five parts, from the definition of the domain model to the deployment to end-users via an updatesite, including the creation of advanced editors and tools (ports, compartments, tables, etc.).</p>
            "
            lnk_txt="Start the tutorial "
            lnk_href="https://wiki.eclipse.org/Sirius/Tutorials/BasicFamily"
            lnk_target="blank"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-2"
            img_class="shadow"
            img_src="images/screenshots/screenshot_advanced_tutorial.png"
            img_title="Sirius - BasicFamily Tutorial"
        %}
    </div>
</section>

<section>
    <div class="container">
       
        {% include block_text_image.html
            txt_order="order-2"
            title="Mindstorms Robot Tutorial"                
            desc="
            <p>This tutorial explains how to use Eclipse Sirius to create a graphical modeling tool for a Mindstorms Robot.</p>
            <p>It is composed of four parts, illustrated with videos, from the definition of the domain model to the creation of a simple graphical diagram with navigation and creation tools, including the customization of properties views.</p>
            "
            lnk_txt="Start the tutorial "
            lnk_href="https://wiki.eclipse.org/Sirius/Tutorials/Mindstorms"
            lnk_target="blank"
            lnk_icon="fas fa-arrow-alt-circle-right"

            img_order="order-1"
            img_class="shadow"
            img_src="images/screenshots/screenshot_compartments_tutorial.png"
            img_title="Sirius - Mindstorms Robot Tutorial"
        %}
    </div>
</section>

<section id="support" class="text-center bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            title="Need Support?"                
            sub_title=""
            desc=""
        %}

    <div class="row">
        {% include block_cols.html
            col="4"
            icon_name="fas fa-file-alt"
            icon_color="txt_indigo"
            title="Documentation" 
            desc="Learn how to use Sirius, thanks to online complete user guides and reference manuals"
            href="http://www.eclipse.org/sirius/doc/"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}

        {% include block_cols.html
            col="4"
            icon_name="fas fa-comment"
            icon_color="txt_indigo"
            title="Forum" 
            desc="Find relevant posts/answers. No solution yet to your concern? Come and ask your question"
            href="http://www.eclipse.org/forums/index.php?t=thread&frm_id=262"
            target="_blank"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}

        {% include block_cols.html
            col="4"
            icon_name="fas fa-life-ring"
            icon_color="txt_indigo"
            title="Professional support" 
            desc="Obeo, co-leader of Sirius, provides training, expertise, custom development and support plans"
            href="https://www.obeodesigner.com/en/services"
            target="_blank"
            link_txt="Learn more"
            href_icon="fas fa-arrow-alt-circle-right"
        %}
    </div>
    </div>
</section>