---
layout: sirius_default
title: Sirius | Resources
---

<section id="" class="text-center">
    <div class="container">
        <div class="row">
			<div class="col-sm-4 col-xs-12 wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                <div><i class="far fa-newspaper fa-3x pa2 txt_indigo"></i></div>
                <h4>Articles</h4>
                <p><a data-wow-delay=".1s" href="https://blog.obeo.fr/tags/sirius" target="_blank">Obeo Blog <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
                <p><a data-wow-delay=".2s" href="https://scholar.google.fr/scholar?q=eclipse+sirius" target="_blank">Search on Google Scholar <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
            </div>
            <div class="col-sm-4 col-xs-12 wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="0ms">
                <div><i class="far fa-play-circle fa-3x pa2 txt_indigo" aria-hidden="true"></i></div>
                <h4>Videos</h4>
                <p><a href="https://www.youtube.com/watch?v=XUD4nqIOzLc&list=PLDCKzuGIN_Zxq2SavbeeXku4qpEAQ-z4f" target="_blank">
					[Obeo Playlist] The Technology <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
				<p><a href="https://www.youtube.com/watch?v=T5HGcvRchOE&list=PLDCKzuGIN_ZyNvkPsRPeb34xuY5odpcMz" target="_blank">[Obeo Playlist] - The Community <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
				<p><a href="https://www.youtube.com/results?search_query=eclipse+sirius" target="_blank">Search on Youtube <i class="fa fa-external-link" aria-hidden="true"></i></a></p>
            </div>
            
            <div class="col-sm-4 col-xs-12 wow fadeInLeft" data-wow-duration="300ms" data-wow-delay="100ms">
                <div><i class="fab fa-slideshare fa-3x pa2 txt_indigo" aria-hidden="true"></i></div>
                <h4>Presentations</h4>
				<p><a href="https://www.slideshare.net/search/slideshow?searchfrom=header&q=eclipse+sirius" target="_blank">
                    Search on Slideshare <i class="fa fa-external-link" aria-hidden="true"></i></a></p>              
            </div>
        </div>
	</div>
</section>
<section id="siriuscon" class="bg_indigo txt_white text-center">
    <div class="container">
        <div class="row d-inline">
			<p><a href="https://www.siriuscon.org"><img src="common_assets/images/logos/logo_siriuscon_2021_white.png" alt="Logo SiriusCon"></a></p>
			<p>Discover recordings and slides of users' feedback and advanced features <br>presented during SiriusCon, the Sirius community's conference</p>
			<p><a class="" href="https://www.siriuscon.org" target="_blank">Learn more <i class="fas fa-arrow-alt-circle-right" aria-hidden="true"></i>
			</a></p>
		</div>
	</div>
</section>

<section class="bg_lightest_grey text-center">
    <div class="container">
        {% include block_heading.html
            title="Best Practices"                
            desc="Sirius committers have shared some of their best practices to help you take advantage of their experience<br /> and implement efficient graphical modeling tools (registration required)"
        %}
        <p><a class="btn btn-default" href="https://www.obeodesigner.com/en/best-practices" target="_blank">Improve Your Sirius Practices</a></p>
    </div>
</section>

<section id="support" class="text-center">
    <div class="container">
        {% include block_heading.html
            title="Need Support?"                
            sub_title=""
            desc=""
        %}

		<div class="row">
			{% include block_cols.html
				col="4"
				icon_name="fas fa-file-alt"
				icon_color="txt_indigo"
				title="Documentation" 
				desc="Learn how to use Sirius, thanks to online complete user guides and reference manuals"
				href="http://www.eclipse.org/sirius/doc/"
				link_txt="Learn more"
				href_icon="fas fa-arrow-alt-circle-right"
			%}

			{% include block_cols.html
				col="4"
				icon_name="fas fa-comment"
				icon_color="txt_indigo"
				title="Forum" 
				desc="Find relevant posts/answers. No solution yet to your concern? Come and ask your question"
				href="http://www.eclipse.org/forums/index.php?t=thread&frm_id=262"
				target="_blank"
				link_txt="Learn more"
				href_icon="fas fa-arrow-alt-circle-right"
			%}

			{% include block_cols.html
				col="4"
				icon_name="fas fa-life-ring"
				icon_color="txt_indigo"
				title="Professional support" 
				desc="Obeo, co-leader of Sirius, provides training, expertise, custom development and support plans"
				href="https://www.obeodesigner.com/en/services"
				target="_blank"
				link_txt="Learn more"
				href_icon="fas fa-arrow-alt-circle-right"
			%}
		</div>
    </div>
</section>
