---
layout: sirius_default
title: Sirius | Support
---
<section>
    <div class="container">
        {% include block_heading.html
            title="Documentation"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="doc/" target="_blank">Online Documentation</a> - Learn how to use Sirius, thanks to online complete user guides and reference manuals</li>
                    <li class="wow fadeInLeft" data-wow-delay=".2s"><a href="https://wiki.eclipse.org/Sirius" target="_blank">Sirius Wiki</a> - Discover more details on our documentation wiki page</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section class="bg_lightest_grey">
    <div class="container">
        {% include block_heading.html
            title="Community Support"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <ul>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a href="https://www.eclipse.org/forums/index.php/f/262/" target="_blank">Sirius Forum</a> - Remember to prefix the subject of your Sirius-related posts with "[Sirius]"</li>
                    <li class="wow fadeInLeft" data-wow-delay=".2s"><a href="https://bugs.eclipse.org/bugs/buglist.cgi?list_id=6776579&classification=Modeling&query_format=advanced&product=Sirius" target="_blank">Sirius Bugzilla</a> - Review and create Bugzilla entries</li>
                    <li class="wow fadeInLeft" data-wow-delay=".3s"><a href="https://bugs.eclipse.org/bugs/enter_bug.cgi?product=Sirius" target="_blank">File a bug</a> - File bugs and feature requests</li>
                </ul>
            </div>
        </div>
    </div>
</section>

<section>
    <div class="container">
        {% include block_heading.html
            title="Professional Services"                
            sub_title=""
            desc=""
        %}
        <div class="row">
            <div class="col-md-12">
                <p class="wow fadeInDown" data-wow-delay=".1s">The Sirius team can be contacted through the official Eclipse EMF forums and newsgroup. Yet this form of support may not meet daily needs of an enterprise adopter as far as response delays are involved. 
                    Most of the developers of Sirius are from Obeo, and are then the best source to provide competent and professional support:
                    </p>
                <ul>
                    <li class="wow fadeInLeft" data-wow-delay=".2s"><a href="http://www.obeosoft.com/en/services/training" target="_blank">Training</a> - Develop your skills on Sirius and related technologies (EMF, Acceleo, Xtext)</li>
                    <li class="wow fadeInLeft" data-wow-delay=".3s"><a href="http://www.obeosoft.com/en/services/coaching" target="_blank">Consulting & Coaching</a> - Work in your own context, with your team directly with Obeo experts</li>
                    <li class="wow fadeInLeft" data-wow-delay=".4s"><a href="http://www.obeosoft.com/en/services/custom-development" target="_blank">Custom Development</a> - Custom Sirius for your needs and boost your projects</li>
                    <li class="wow fadeInLeft" data-wow-delay=".1s"><a  href="https://www.obeodesigner.com/support" target="_blank">Support & Maintenance</a> - Safeguard
                        your deployment</li>
                </ul>
            </div>
        </div>
    </div>       
</section>