<div class="col-md-3">
    <h6>Project Links</h6>
    <ul>
        <li><a href="https://projects.eclipse.org/projects/modeling.sirius" target="_blank">About this project</a></li>
        <li><a href="https://github.com/eclipse-sirius/sirius-desktop/discussions" target="_blank">Sirius Desktop Discussions</a>
        <li><a href="https://github.com/eclipse-sirius/sirius-web/discussions" target="_blank">Sirius Web Discussions</a>
        <li><a href="https://github.com/eclipse-sirius/sirius-desktop/issues" target="_blank">Sirius Desktop Issues</a>
        <li><a href="https://github.com/eclipse-sirius/sirius-web/discussions" target="_blank">Sirius Web Issues</a>
        <li><a href="https://github.com/eclipse-sirius" target="_blank">Source Code</a></li>
    </ul>
</div>
