<!-- Navigation -->
<header id="top-bar" class="navbar navbar-expand-lg fixed-top">
    <div class="container">
        <div id="super-menu" class="d-flex">
            <nav class="main-menu ml-auto">
                <ul class="nav navbar-nav">
                    <li><a href="{{ site.sirius_baseurl }}">Sirius Desktop</a></li>
                    <li class="current"><a href="#">Sirius Web</a></li>
                </ul>
            </nav>
        </div>
        <div class="d-flex" id="main-menu-items">
            <a class="navbar-brand" href="{{ site.sirius_baseurl }}">
                <img src="{{  site.sirius_baseurl }}/common_assets/images/logos/logo_sirius.png" alt="Logo Sirius">
            </a>
            <button class="navbar-toggler navbar-toggler-right" type="button" data-toggle="collapse" data-target="#navbarResponsive"
                aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
                <i class="fa fa-bars"></i>
            </button> 
            <nav class="navbar-collapse collapse" id="navbarResponsive">
                <div class="main-menu ml-auto">
                    <ul class="nav navbar-nav">
                        <li>
                            <a href="#features" data-row="#features" class="smooth-scroll">Features</a>
                        </li>
                        <li>
                            <a href="#try" data-row="#try" class="smooth-scroll">Try It</a>
                        </li>
                        <li>
                            <a href="#support" target="_blank">Support</a>
                        </li>
                        <li id="dwnld">
                            <a href="https://www.obeocloudplatform-demo.com/signup">Start here</a>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</header>
